.main {
  background-image: url("http://4.bp.blogspot.com/-qOIKARGCAj0/UR6AlXeZcTI/AAAAAAAAArU/a9Unmn_Y9GU/s1600/for.JPG");
  background-size: cover;
  background-position: center center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.fortune {
  background-color: #96a89b;
  min-height: 1em;
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -0.5em;
  font-family: Rock Salt;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  box-shadow: 0 0 50px black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .fortune {
    width: 400px;
    margin-left: -200px;
  }
}